<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap"
  rel="stylesheet"
/>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Digital-Worker</title>
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
/>

<div
  class="body"
  style="overflow-x: auto; overflow-y: auto; scrollbar-gutter: stable"
>
  <div class="meniu">
    <div class="meniu-container">
      <p class="fakeAtributte"></p>
      <img
        class="logo"
        src="../assets/images/PORTFOLIO-logos_white.png"
        alt=""
      />
      <a href="#acasa">Home</a>
      <a href="#despre">About</a>
      <a href="#proiecte">Projects</a>
      <a href="#contact">Contact</a>
      <div class="butonhero">
        <button
          (click)="openAddEditWorkerForm()"
          class="principal"
          type="button"
        >
          Add Project
        </button>
      </div>
      <p class="fakeAtributte"></p>
    </div>
  </div>
  <div class="topimg">
    <img
      src="../assets/images/windows-11-dark-mode-abstract-background-black-background-3840x2400-8710.jpg"
      alt="Black background"
    />
  </div>

  <div class="profile" id="acasa">
    <div class="picfinfo">
      <img class="avatar" src="../assets/images/profilePic.jpg" alt="" />
      <div class="info">
        <div class="titlu"><h2>Amy Adams</h2></div>
        <div class="subtitlu">
          <h4 style="font-family: Inter">UX & UI Designer</h4>
        </div>
      </div>
    </div>
    <div class="profilJos">
      <div class="profilJosParteaI">
        <div class="text">
          <div class="titluaboutinfo">
            <h1>I create simple, beautiful & easy user experiences</h1>
          </div>
          <div
            class="descriere"
            style="font-family: Inter; font-size: 18px; line-height: 25px"
          >
            <p id="despre">
              I am passionate about creating designs that meet the needs of
              users and enhance their experience with digital products. With
              experience in conducting user research and usability testing, as
              well as collaborating with other designers and developers, I am
              confident in my ability to create designs that are not only
              aesthetically pleasing, but also functional and intuitive. I am
              always looking for new and exciting projects to work on, so if you
              are interested in collaborating or have any questions about my
              work, reach out to using the contact info at the bottom.
            </p>
          </div>
        </div>
        <div class="imgdreapta">
          <img
            src="../assets/images/adrien-olichon-_GH9LwhlSO4-unsplash.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="skills">
        <h4>Skills</h4>
        <ul>
          <li>Knowledge of design principles and best practices</li>
          <li>Ability to conduct user research and usability testing</li>
          <li>
            Familiarity with front-end development, including HTML, CSS, and
            JavaScript
          </li>
          <li>
            Ability to create wireframes, prototypes, and other design artifacts
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="experienta">
    <div class="ani" style="background-color: transparent">
      <h1 style="background-color: transparent">12+</h1>
      <p style="background-color: transparent">Years of Experience</p>
    </div>
    <div class="nrproiecte" style="background-color: transparent">
      <h1 style="background-color: transparent">100+</h1>
      <p style="background-color: transparent">Projects Completed</p>
    </div>
    <div class="clientisatisfacuti" style="background-color: transparent">
      <h1 style="background-color: transparent">45+</h1>
      <p style="background-color: transparent">Satisfied Clients</p>
    </div>
  </div>
  <div class="proiecte" id="proiecte">
    <div class="introducere">
      <h2>Most Important Projects</h2>
      <p>
        Selected projects from my portfolio. For more projects, you can visit my
        <a href="https://dribbble.com/">Dribbble</a>.
      </p>
      <hr style="width: 88%; opacity: 0.5" />
      <div class="aboutProiecte">
        <div class="proiect1">
          <div class="main-body">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input
                matInput
                (keyup)="applyFilter($event)"
                placeholder="Ex. Mia"
                #input
              />
            </mat-form-field>

            <div class="table-container">
              <mat-table [dataSource]="dataSource">
                <!-- User name Definition -->
                <ng-container matColumnDef="ID">
                  <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
                </ng-container>

                <!-- Age Definition -->
                <ng-container matColumnDef="Image">
                  <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <img [src]="row.Image" alt="" />
                  </mat-cell>
                </ng-container>

                <!-- Title Definition -->
                <ng-container matColumnDef="Project">
                  <mat-header-cell *matHeaderCellDef> Project </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ row.Project }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Description">
                  <mat-header-cell *matHeaderCellDef>
                    Description
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{ row.Description }}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Technologies">
                  <mat-header-cell *matHeaderCellDef>
                    Technologies
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{ row.Technologies }}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Link">
                  <mat-header-cell *matHeaderCellDef> Link </mat-header-cell>
                  <mat-cell *matCellDef="let row"
                    ><a
                      mat-raised-button
                      mat-button
                      color="accent"
                      [href]="row.Link"
                      target="_blank"
                      >Project Link</a
                    ></mat-cell
                  >
                </ng-container>

                <ng-container matColumnDef="Actions">
                  <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                  <mat-cell *matCellDef="let row"
                    ><div class="butoanetabel" style="display: flex; background-color: transparent; flex-direction: column;">
                      <button
                        mat-raised-button
                        color="warn"
                        style="margin-bottom: 10px"
                        (click)="deleteWorker(row.id)"
                      >
                        Delete
                      </button>
                      <button
                        mat-raised-button
                        color="accent"
                        (click)="openEditForm(row)"
                      >
                        Edit
                      </button>
                    </div></mat-cell
                  >
                </ng-container>

                <!-- Header and Row Declarations -->
                <mat-header-row
                  *matHeaderRowDef="[
                    'ID',
                    'Image',
                    'Project',
                    'Description',
                    'Technologies',
                    'Link',
                    'Actions'
                  ]"
                ></mat-header-row>
                <mat-row
                  *matRowDef="
                    let row;
                    columns: [
                      'ID',
                      'Image',
                      'Project',
                      'Description',
                      'Technologies',
                      'Link',
                      'Actions'
                    ]
                  "
                ></mat-row>
              </mat-table>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                  No data matching the filter "{{ input.value }}"
                </td>
              </tr>

              <mat-paginator
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page of users"
              ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    id="contact"
    class="contact"
    style="
      background-color: rgb(29, 29, 29);
      font-family: Inter;
      font-size: 16px;
      padding: 7px 9px 7px 11px;
      line-height: 23px;
    "
  >
    <div class="harta" style="margin-left: 100px">
      <iframe
        class="google"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.25279996372!2d-74.14448766911018!3d40.69763123336559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20Statele%20Unite%20ale%20Americii!5e0!3m2!1sro!2sro!4v1701464899686!5m2!1sro!2sro"
        width="650px"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="textContact">
      <h2 style="background-color: rgb(29, 29, 29)">Contact</h2>
      <p style="background-color: rgb(29, 29, 29)">
        I am always looking for new and exciting projects to work on, so if you
        are interested in collaborating or have any questions about my work,
        please reach out to me.
      </p>
      <a href="" style="background-color: rgb(29, 29, 29)">(123)-456-7890</a>
      <a
        href="https://www.google.com/gmail/about/"
        style="background-color: rgb(29, 29, 29)"
        >anonim&#64;gmail.com</a
      >
      <a
        href="https://twitter.com/home"
        style="background-color: rgb(29, 29, 29)"
        >Twitter</a
      >
      <a
        href="https://ro.linkedin.com/"
        style="background-color: rgb(29, 29, 29)"
        >LinkedIn</a
      >
      <a
        href="https://www.instagram.com/"
        style="background-color: rgb(29, 29, 29)"
        >Instagram</a
      >
      <hr
        style="width: 88%; opacity: 0.5"
        style="background-color: rgb(29, 29, 29)"
      />
      <p style="background-color: rgb(29, 29, 29)">
        All rights reserved. Amy Adams ©2023
      </p>
    </div>
  </div>
</div>
